
<div class="comment new">
  <h2>Post Comment</h2>
  <%= form_for(:comment, :url => {:action => 'create', :post_id => @post.id}) do |f| %>
  
    <%= render(:partial => "form", :locals => {:f => f}) %>
   
    <div class="form-buttons">
       <%= submit_tag("Post Comment") %>
    </div>

  <% end %>
</div>
